extends base

block body
   include sidebar
   section#main
      h2.center.big Newsfeed
      div.posts
         each post in posts
            +post(post, post.title, post.content, post.start, post.end, post.posted, post.club)