title= title + " | TAMSHax"
link(rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css")
link(rel="stylesheet" type="text/css" href="/public/css/main.css")
link(rel="stylesheet" type="text/css" href="/public/fontawesome-free-5.5.0-web/css/solid.min.css")
link(rel="stylesheet" type="text/css" href="/public/fontawesome-free-5.5.0-web/css/fontawesome.min.css")
