extends base
block body
   section#small
      h2.center.bigger Welcome!
      br
      br
      br
      h3.center
         | Todays TAMS L's Post Highlight
         br
         i.big When the average grade for the Brand test is a 68