section#sidebar
   h1
      a(href='/') TAMSHax
   a(href="/calendar/") 
      i.fas.fa-calendar-alt
      | Calendar
   a(href="/feed/") 
      i.fas.fa-newspaper
      | Newsfeed
   a(href='/signin/')
      i.fas.fa-file-signature
      | Sign In
   a(href="/clubs/") 
      i.fas.fa-users
      | Clubs
   a(href="/user/" + user.username + "/") 
      i.fas.fa-user
      | Profile
   a(href="/settings/") 
      i.fas.fa-cog
      | Profile
   a(href="/logout/") 
      i.fas.fa-sign-out-alt
      | Logout
