extends base
block body
   section#small
      include errors
      h2 Sign Up
      form(action='/signup/' method='post')
         input(type="hidden" name="_csrf" value=csrfToken)
         label(for='username') Username
         input(type='text' name='username' value='' placeholder='jchi2020')
         br
         label(for='name') Name
         input(type='text' name='name' value='' placeholder='Johnathan Chi')
         br
         label(for='username') Email
         input(type='email' name='email' value='' placeholder='name@mail.com')
         br
         label(for='password') Password
         input(type='password' name='password' value='' placeholder='password')
         br
         label(for='submit')
         input(type='submit' name='submit' value='Sign Up')